PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/bildyapp

JWT_SECRET=cambia_esto
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambia_esto_tambien
JWT_REFRESH_EXPIRES_IN=7d

UPLOAD_PATH=uploads
MAX_FILE_SIZE=5242880
